<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Crud Generator Test Suite">
            <file>tests/CrudGeneratorCommandTest.php</file>
            <file>tests/ModelCreatedTest.php</file>
            <file>tests/RepositoryCreatedTest.php</file>
            <file>tests/ControllerCreatedTest.php</file>
            <file>tests/RequestCreatedTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
